* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  
  
  
  /* Navbar */
  
  .navbar .megamenu {
    padding: 1rem;
  }
  
  .navbar .megamenu {
    left: 10%;
    right: 0;
    width: 80%;
    margin-top: -0.1rem;
    border: none;
    border-radius: 1rem;
  }
  
  .navbar-dark .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(255, 255, 255, .1);
    border: none;
  }
  
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
  }
  
  .nav-item .sale {
    color: rgb(255, 7, 7);
  }
  
  .gap a {
    color: #565656;
    font-weight: 600;
    margin: 0rem 1rem;
  }
  
  .nav-item a:hover {
    color: rgb(0, 0, 0);
  
  }
  
  .cont-size {
    padding-left: 0;
    padding-right: 0;
  }
  
  .nav-size {
    padding: 2rem;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(23 23 23 / 86%);
  }
  
  .navbar-dark .navbar-brand {
    color: #131313;
  }
  
  .btn2 {
    background-color: rgb(64, 64, 64);
    color: rgb(219, 219, 219);
    height: 2.2rem;
    width: 4.5rem;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
  }
  
  .butn:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(222, 220, 220);
  }
  
  .btn1 {
    height: 2.2rem;
    width: 4.5rem;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .navbar-brand {
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
    color: #1f1f1f;
  }
  
  
  .list-unstyled li {
    position: relative;
  }
  
  .list-unstyled li a {
    text-decoration: none;
    color: #777777;
    position: relative;
  }
  
  .list-unstyled li a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(142, 142, 142);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .list-unstyled li a:hover::after {
    width: 100%;
    left: 0;
  }
  
  .list-unstyled li {
    padding: 0.4rem;
  }
  
  .list-unstyled li a:hover {
    color: #131313;
  
  }
  
  .col-megamenu h6 {
    color: rgb(70, 70, 70);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
  }
  .nav-try {
    display: block;
  }




 
  @media all and (min-width: 992px) {

    .navbar .has-megamenu {
      position: static !important;
    }
 
    .navbar .megamenu {
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 0;
    }
 
 
  }
  @media all and (min-width: 1990px){
   .navbar .megamenu {
  
     margin-top: -2.2;
   }
 }
 
  /* ============ desktop view .end// ============ */
 
 
  /* ============ mobile view ============ */
  @media(max-width: 991px) {
 
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
      overflow-y: auto;
      max-height: 90vh;
      margin-top: 10px;
    }
 
    .line-border {
      border-top: 1px solid black;
 
    }
 
    .nav-size {
      padding: 0rem;
    }
 
    .login-btn {
      margin-right: 1rem;
    }
 
    .option-size2 {
      margin-top: -0.1rem;
    }
 
    .option-size3 {
      margin-top: -3.5rem;
    }
 
    .option-size4 {
      margin-top: -3.5rem;
    }
 
    .nav-try {
      display: inline-block;
    }
 
    /* .carousel-control-next-icon, .carousel-control-prev-icon {
     margin-top: -10rem;
    } */
 
    .col-megamenu h6{
     margin-top: 1rem;
    }
  }
 
 
 
 
 
 
  @media(max-width: 575px) {
    .option-size2 {
      margin-top: -3rem;
    }
 
    .option-size3 {
      margin-top: -5.5rem;
    }
 
    .option-size4 {
      margin-top: -3rem;
    }
 
  }
 
  @media screen and (min-width:768px) {
    .dropdown:hover .dropdown-menu {
      display: block;
 
    }
 
    .list-unstyled {
      padding-top: -1rem;
    }
 
  }









  
  #product-details{
    display: flex;
    margin-top: 2rem;
  }

#product-details .single-pro-image{
width: 40%;
margin-right: 50px;
margin-top: 7rem;
}

.small-img-group{
display: flex;
justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#product-details .single-pro-details h6{
  color: #9fd2ce;
}

#product-details .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#product-details .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#product-details .single-pro-details h2{
    font-size: 26px;
}
#product-details .single-pro-details select{
display: block;
padding: 5px 10px;
margin-bottom: 10px;
height: 2rem;
width: 13rem;
font-size: 15px;
}
#product-details .single-pro-details input{
  width: 2.8rem;
  height: 2.8rem;
  padding-left: 16px;
  
  margin-right: 10px;
}


#product-details .single-pro-details input:focus{
    outline: none;
}
#product-details .single-pro-details button{
   background:#088178;
   color: #fff;
   border: none;
   height: 2.8rem;
   width: 9rem;
}
#product-details .single-pro-details button:hover{
  color: #088178;
  background-color: #fff;
  border: 1px solid #088178;
}

#product-details .single-pro-details span{
    line-height: 25px;

}









#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap: wrap;
}




#product1{
    text-align: center;
    /* margin-top: 12rem; */
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.10);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.15);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des h5{
    color: #606063;
    font-size: 12px;
    color: #1a1a1a;
}
#product1 .pro .des i{
font-size: 12px;
color: rgb(255, 205, 6);
} 
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #4fa19c;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}







.section-try{
padding-top: 2rem;
}
.mobile-desp{
margin-top: 3rem;
display: none;

}




.dropdown-menu-end[data-bs-popper] {
  right: -24%;
  left: auto;
}








.btn-filter{
width: 100%;
}
.btn-sort{
  width: 90%;
  margin-top: 1rem;
  height: 2.5rem;
  border-radius: 5px;
  }




@media(max-width: 1015px){
    #product1 .pro-container{
       
        justify-content: space-evenly;
     
    }
}


@media(max-width: 768px){
    #product1 .pro-container{
       
        justify-content: center;
     
    }
    #product1 .pro{
        margin: 1rem;
    }
}
@media(max-width: 563px){
    #product1 .pro{
        width: 60%;
    }
}
@media(max-width: 477px){
    #product1 .pro{
        width: 100%;
    }
}

@media(max-width: 477px){
  #product-details{
display: flex;
flex-direction: column;
  }

  #product-details .single-pro-image{
width: 100%;
margin-right: 0px;
  }


  #product-details .single-pro-details{
    width: 100%;
  }

}
@media(max-width: 991px){
  #product-details .single-pro-details span{
    display: none;

}
#product-details .single-pro-details .disp{
  display: none;
}
.mobile-desp{
display: initial;

}

.detail-four {
  margin-top: 4rem;
 
}
.section-try {

  padding: rem;
}

}